.sass-cache/
*.css.map
*.sass.map
*.scss.map
#configuracion de visual studio code
.vscode

#agregando carpeta node_modules
/node_modules

#cargando cambios de pug next command pug index.pug -w -P -o /home/yeyo_soto/Escritorio/Milanding/Mipage
#cargando cambios de sass next command sass -w style.scss:/home/yeyo_soto/Escritorio/Milanding/Mipage/public/css/style.css